* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
section {
    width: 100%;
    height: 100%;
}
.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}
.set div {
    position: absolute;
    display: block;
}
.set div:nth-child(1) {
    left: 20%;
    animation: heart 15s linear infinite;
}
.set div:nth-child(2) {
    left: 50%;
}
.set div:nth-child(3) {
    left: 70%;
}
.set div:nth-child(4) {
    left: 0%;
}
.set div:nth-child(5) {
    left: 85%;
}
.set div:nth-child(6) {
    left: 15%;
}
@keyframes heart {
    0% {
        opacity: 0;
        bottom: -10%;
        transform: translateY(-20px) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    20% {
        transform: translateY(-150px) rotate(45deg);
    }
    40% {
        transform: translateY(-400px) rotate(-30deg);
    }
    60% {
        transform: translateY(-700px) rotate(45deg);
    }
    80% {
        transform: translateY(-1000px) rotate(90deg);
    }
    100% {
        transform: translateY(-1800px) rotate(45deg);
    }
}

.containner {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    overflow: hidden;
}
.test {
    /*border: dotted 5px rgb(3, 89, 129);*/
    border-radius: 50%;
    background: radial-gradient(transparent, #85d7e7);
    font-size: 100px;
    line-height: 1.5;
    text-align: center;
    animation: move2 2s ease-in-out forwards 2s;
}
img {
    width: 10%;
    height: 10%;
}
.test:nth-child(1),
.test:nth-child(2),
.test:nth-child(3),
.test:nth-child(4),
.test:nth-child(5),
.test:nth-child(6),
.test:nth-child(7),
.test:nth-child(8),
.test:nth-child(9),
.test:nth-child(10),
.test:nth-child(11),
.test:nth-child(12),
.test:nth-child(13),
.test:nth-child(14),
.test:nth-child(15),
.test:nth-child(16),
.test:nth-child(17),
.test:nth-child(18),
.test:nth-child(19),
.test:nth-child(20) {
    animation: move1 2s ease-in-out forwards 2s;
}
@keyframes move1 {
    0% {
        transform: skew(0deg,0deg);
    }
    60% {
        transform: skew(44deg,44deg) translateX(0%);
    }
    100% {
        transform: skew(44deg,44deg) translateX(800%);
    }
}
@keyframes move2 {
    0% {
        transform: skew(0deg,0deg);
    }
    60% {
        transform: skew(44deg,44deg) translateX(0%);
    }
    100% {
        transform: skew(44deg,44deg) translateX(-800%);
    }
}
